
<div class="modal-header">
    <h4 class="modal-title">Justify Your Decision</h4>
</div>

<div class="modal-body">
  <form name="justForm">
  <div class="form-group">
    <p>Please provide a brief justification as to why you made this choice. <small>(Max 1000 characters)</small></p>
    <textarea class="form-control" id="justification" name="justification" rows="5" placeholder="Justification..." ng-required="true" ng-minlength="5" ng-maxlength="1000" ng-model="newJustification">{{newJustification}}</textarea>
  </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-disabled="!justForm.justification.$valid" ng-click="ok(newJustification)">Submit</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
