<div class="modal-header">
  <h3 class="modal-title">Select An Image</h3>
</div>

<div class="modal-body">
  <alert type="{{imageAlert.type}}" ng-show="imageAlert" close="imageAlert.close();">{{imageAlert.msg}}</alert>
  <div class="assets-grid row">
    <div class="col-sm-4" ng-repeat="asset in assets">
      <img class="img-responsive" ng-src="{{asset.thumbnail}}" ng-click="setNodeAsset(asset)"/>
    </div>
  </div>
</div>

<div id="image-modal-footer" class="modal-footer">
  <input type="file" ng-file-select="" ng-model="image" name="file" accept="image/*" required="">
  <button ladda="imageUploading" class="btn-upload" ng-disabled="!image-modal-footer.$valid" data-size="s" data-color="yellow" data-style="expand-left" ng-click="upload(image)">Upload New</button>
  <button class="btn btn-default btn-md" ng-click="cancel()">Cancel</button>
</div>
