<form>

<div class="row">
    <div class="col-sm-6">

      <div class="form-group">
        <div class="empty-img" ng-click="openImageModal()" ng-show="!node.asset">
          <p><span class="glyphicon glyphicon-picture"></span> Add Picture</p>
        </div>

        <div class="node-img-wrap" ng-show="node.asset">
          <button class="btn btn-danger delete-img" ng-click="removeImage(node)">
            <span>&times; <small>Remove</small></span>
          </button>
          <img ng-click="openImageModal()" ng-src="{{node.asset.image}}" class="img-responsive">
        </div>
      </div>

      <div class="form-group" ng-hide="{{node.is_start}}">
          <strong>Node Type:</strong>
          <input type="radio" ng-model="node.type" id="regular" value="regular" name="nodeTypeGroup" ng-click="updateNodeType(node)"> <label for="regular" class="node-type-btn">Regular</label>
          <input type="radio" ng-model="node.type" id="goal" value="goal" name="nodeTypeGroup" ng-click="updateNodeType(node)"> <label for="goal" class="node-type-btn">Goal</label>
          <input type="radio" ng-model="node.type" id="failure" value="failure" name="nodeTypeGroup" ng-click="updateNodeType(node)"> <label for="failure" class="node-type-btn">Failure</label>
      </div>

      <div class="form-group">
        <strong>Requires Justification:</strong> <input type="checkbox" ng-click="updateNode(node, fields.justification)" ng-model="node.requires_justification">
      </div>

    </div>

    <div class="col-sm-6">

      <div class="form-group">
        <label for="node-title">Title</label>
        <input type="text" class="form-control" id="node-title" ng-blur="updateNode(node, fields.title)" ng-model="node.title" placeholder="Title" value="node.title" required>
      </div>

      <div class="form-group">
        <label for="node-desc">Body</label>
        <textarea type="text" class="node-desc form-control" id="node-desc" ng-blur="updateNode(node, fields.body)" ng-model="node.body" placeholder="Body" value="node.body" required></textarea>
      </div>

    </div>

  </div><!-- /row -->

  <div class="row">
    <div class="col-xs-12">

      <node-choices></node-choices>

    </div>
  </div>

</form>
