
<div class="modal-header">
    <h3 class="modal-title">Change Start/End Date</h3>
</div>
<div class="modal-body">

          <div class="row">

            <div class="col-xs-12">

              <p class="input-group">
                <input type="text" placeholder="Start Date" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="newStartTime" is-open="opened1" datepicker-options="dateOptions" close-text="Close" required/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>

            </div>

            <div class="col-xs-12">

              <p class="input-group">
                <input type="text" placeholder="End Date" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="newEndTime" is-open="opened2" datepicker-options="dateOptions" close-text="Close" required/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>

            </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
